
Week 2/.ipynb_checkpoints/String Exercise-checkpoint.ipynb

Week 2/.ipynb_checkpoints/Variables and types-checkpoint.ipynb

Week 3/.ipynb_checkpoints/Lists-checkpoint.ipynb

Week 3/.ipynb_checkpoints/Reading files-checkpoint.ipynb

Week/.ipynb_checkpoints/Functions-checkpoint.ipynb

Week 4/.ipynb_checkpoints/Functions-checkpoint.ipynb

Week 4/.ipynb_checkpoints/HW_review_week_3-checkpoint.ipynb

Week 4/.ipynb_checkpoints/Dictionaries-checkpoint.ipynb

Week 4/.ipynb_checkpoints/Homework 4-checkpoint.ipynb

Week 6/.ipynb_checkpoints/scikit-bio_FASTA_example-checkpoint.ipynb
